<!-- Header -->
<%- include('./layouts/header') %>
<!-- Navbar -->
<%- include('./layouts/nav') %>
<!-- Content -->
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 form-body">
      <h1 class="text-center">Update</h1>
      <% if (msg.length !== 0) { %>
      <div class="alert alert-danger" role="alert"><%= msg %></div>
      <% } %>
      <form method="POST" action="/users/update/save">
        <div class="mb-3">
          <label for="inputPassword5" class="form-label">Username</label>
          <!-- Hidden id -->
          <input type="hidden" id="_id" name="_id" value="<%= user._id %>" />
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            value="<%= user.username %>"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="inputPassword5" class="form-label">Role</label>
          <select
            class="form-select"
            id="role"
            name="role"
            aria-label="Default select example"
          >
            <option value="Staff">Staff</option>
            <option value="admin">Admin</option>
          </select>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-success">Save Change</button>
          <a href="/users" class="btn btn-primary">Back</a>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<!-- Footer -->
<%- include('./layouts/footer') %>
